.navbar{
    background: #131313;
    padding: 1rem 8rem;
    z-index: 1000;
}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: #fff;
    font-size: 1.1rem
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #00bf85;
}
#navbarSupportedContent > button{
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}

.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mid .Hero{
    position: relative;
}
.mid .Hero p{
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 1rem;
}
.mid .Hero a{
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
}
.mid .Hero a:hover{
    background-color: #fff;
}

.About{
    background-color: #000;
}
.About .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.About .text h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.About .text h2{
    color: #f7f5f4;
    font-weight: 700;
    font-size: 2.7rem;
    
}
.About .text p{
    color: #f7f5f4;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    
}
.About .text a{
    background-color: #00bf85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #111;
}


.discovery{
}
.discovery .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.discovery .text h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.discovery .text h2{
    color: #111;
    font-weight: 700;
    font-size: 2.7rem;
    
}
.discovery .text p{
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    
}
.discovery .text a{
    background-color: #111;
    font-weight: 500;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
}

.service{
    background: #000;
}
.service h2{
    color: #fff;
}
.service .one{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 7px;
}

.sign{
  
}
.sign .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.sign .text h6{
    color: #00bf7f;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}
.sign .text h2{
    color: #111;
    font-weight: 700;
    font-size: 2.7rem;
    
}
.sign .text p{
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    
}
.sign .text a{
    background-color: #111;
    font-weight: 500;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
}

footer{
    background: #111;
}